@font-face {
  font-family: "Kenney Pixel Square";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/kenney_pixel_square-webfont.woff") format("woff"), url("/assets/fonts/kenney_pixel_square-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Kenney Pixel";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/kenney_pixel-webfont.woff") format("woff"), url("/assets/fonts/kenney_pixel-webfont.woff2") format("woff2");
  /* font-display: swap; */
}
:root {
  --site-width: 45rem;
  --color-one: #902923;
  --color-two: #F5F1C6;
  --color-three: #631C18;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: auto;
  overflow-y: scroll;
  grid-template-columns: 1fr;
  margin: 0 auto;
  cursor: url("/assets/images/cursor-pointer.png") 12 0, auto;
}

#nav-wrapper #site-logo-text {
  text-align: center;
  font-family: "Kenney Pixel Square", "Share Tech Mono", "Courier Prime", "Courier New", sans-serif;
}
#nav-wrapper #site-logo-text a {
  text-decoration: none;
}
#nav-wrapper nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--site-width);
}
#nav-wrapper nav a {
  display: block;
  padding: 1rem 2rem;
}

#main-wrapper main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--site-width);
}

#footer-wrapper footer {
  margin: 0 auto;
  max-width: var(--site-width);
  color: lightgray;
  padding: 2rem 0;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

a {
  outline: 0;
  cursor: url("/assets/images/cursor-hand.png") 12 0, auto;
  color: var(--color-one);
}

a:hover {
  color: var(--color-three);
}

/* Headings */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.571em;
} /* 22px */
h3 {
  font-size: 1.429em;
} /* 20px */
h4 {
  font-size: 1.286em;
} /* 18px */
h5 {
  font-size: 1.143em;
} /* 16px */
h6 {
  font-size: 1em;
} /* 14px */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  font-family: "Kenney Pixel", "Share Tech Mono", "Courier Prime", "Courier New", sans-serif;
}

#index-nav nav a {
  display: block;
  padding: 1rem 2rem;
}

img#article-hero {
  max-width: 100%;
  width: 100%;
  height: auto;
}

img.recipeimage {
  max-width: 100%;
  width: 100%;
  height: auto;
}
