:root {
  --site-width: 45rem;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: auto;
  overflow-y: scroll;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

#nav-wrapper nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--site-width);
}
#nav-wrapper nav a {
  display: block;
  padding: 1rem 2rem;
}

#main-wrapper main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--site-width);
}

#footer-wrapper footer {
  margin: 0 auto;
  max-width: var(--site-width);
  color: lightgray;
  padding: 2rem 0;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

h1 {
  color: blue;
}
