<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}" type="text/css" />
  <link rel="stylesheet" href="{{ '/css/print.css' | url | bust }}" type="text/css" media="print" />
  <title>{{ title }} - {{ website.title }}</title>
</head>
<body>
    <div id="nav-wrapper">
      <nav>
        <a href="/">home</a>
        <a href="/food/">food</a>
        <a href="/about/">about</a>
      </nav>
    </div>
    <div id="main-wrapper">
      <main>
        {{ content | safe }}
      </main>
    </div>
    <div id="footer-wrapper">
      <footer>
        the bottom
      </footer>
    </div>
</body>
</html>