<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noimageai" />
  <meta name="robots" content="noai" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}" type="text/css" />
  <link rel="stylesheet" href="{{ '/css/print.css' | url | bust }}" type="text/css" media="print" />
  <title>{{ title }} - {{ website.title }}</title>
</head>
<body>
  <!-- <input id="color-mode" type="checkbox" name="color-mode">
   <label for="color-mode">
    <span class="dark-mode-hide">Dark Mode</span>
    <span class="light-mode-hide">Light Mode</span>
  </label> -->
  <div class="color-scheme-wrapper">
    <div id="nav-wrapper">
      <div id="site-logo-text"><a href="/">into the wildlands</a></div>
      <div>{% include "partials/navigation.njk" %}</div>
    </div>
    <div id="main-wrapper">
      <main>
        {{ content | safe }}
      </main>
    </div>
    <div id="footer-wrapper">
      <footer>
        <a href="/colophon/">
          (-_-)
        </a>
      </footer>
    </div>
  </div>
</body>
</html>